.container{
    width: 300px;
    height: 300px;
    margin: auto;
}

.polyBG {
    background-color: aqua;
    height:300px;
    width: 300px;
    clip-path: polygon(50% 0%, 100% 38%, 65% 53%, 12% 63%, 5% 10%);
    
}
.polyfront {
    background-color: rgb(35, 58, 58);
    height:300px;
    width: 300px;
    text-align: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    
}


.span1{
    margin-top: 230px;
}